<div class="container">
  <h2>Biblioteca de ícones</h2>
  <div class="icon-grid">
    <div *ngFor="let icon of iconKeys" class="icon-item" (click)="copyIconClass(getIconClass(icon))">
      <i [class]="getIconClass(icon)"></i>
      <div class="icon-class">{{ getIconName(icon) }}</div>
      <div class="tooltip" [ngClass]="{'show-tooltip': copiedClass === getIconClass(icon)}">
        Copiado!
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer-content">
    <p>
      © 2024, Developed by <strong>André Carraro</strong>.
    </p>
    <p>
      Contact: <a href="mailto:andre.carraro@totvs.com.br">andre.carraro&#64;totvs.com.br</a>
    </p>
  </div>
</footer>
